/* src/components/QRCode.css */
.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.qr-code img {
  max-width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
